# Go test coverage files
test/*.coverage
test/*.coverprofile

# Go module dependency files
go.sum

# OS-specific files
bin/.DS_Store
bin/Thumbs.db

# Logs and temporary files
bin/*.log
bin/*.tmp

# Cache files
bin/*.swp
